@model VirtualFrends.Models.ValidarCorreo

<h3> @ViewBag.Error</h3>

@using (Html.BeginForm("Validando", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-1">Registrate Con Nosotros</h3></div>
                                <div class="card-body">
                                    <div class="small mb-3 text-muted">Indique El Correo de Invitacion para poder registrarse.</div>
                                    <form>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Correo de Invitacion", @class = "form-control" })
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="~/Account/Login">Return to login</a>
                                            <input type="submit" class="btn btn-primary" value="Validar Correo" />
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

